*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 200vh;
    margin-top: 4rem;
}

header{
    width: 100%;
    background-color: black;
    position: fixed;   /*CAMBIAR VALORES FIXED POR STICKY PARA VER DIFERENCIAS*/
    opacity: 0.5;    
    justify-content: center;
    align-items: center;
    height: 4rem;
    top: 0;

}
section{
    margin-top: 10px;
    padding: 10px;
}

.menu{
    display: flex;
    list-style: none;
}
a{
    color: white;
    display: inline-block;
    text-decoration: none;
} 
li{
    margin-right: 1rem;
    padding: 1rem;
}